yyb_sch_layout_v1.0/__Previews*
yyb_sch_layout_v2.0/__Previews*
yyb_sch_layout_v2.0/History*
yyb_sch_layout_v2.0/ref_design/__Previews*
yyb_sch_layout_v2.6/__Previews*
yyb_sch_layout_v2.6/History*
yyb_sch_layout_v2.6/ref_design/__Previews*
.DS_Store
datasheet/Thumbs.db
datasheet/io_expander/Thumbs.db
datasheet/power/Thumbs.db
nRF51822_Nordic/Thumbs.db
nRF51822_Nordic/nRF51822-BK-FW/SoftDevice/Thumbs.db
wristband/Thumbs.db
